/* CSS Reset */
body {
  margin: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* Carusell */
.carusell {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.carusell > div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.carusell > ol {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carusell img {
  height: 100%;
}
