/* CSS Reset */
body {
  margin: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* Carusell */
.carusell {
  position: relative;
}

/* Controll Plane */
.carusell > div {
  position: absolute;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#next-button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
#previous-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#specific-buttons {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: center;
}
.carusell button {
  opacity: 0.5;
}

/* Image Reel */
.carusell > ol {
  display: flex;
  justify-content: center;

  width: 100vw;
  overflow: hidden;
}

.carusell img {
  height: 100vh;
  display: none;
}

.carusell img.current-image {
  display: unset;
}
